.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.input-container{
  background-color: lightsalmon;
  width:250px ;
  padding: 10px;
  border-radius:10px
}

.text{
  font-weight: bold;
  font-size: 2rem;
  color: lightseagreen;
}